* {
    box-sizing: border-box;
}
:root {
    --primary-color:#000;
    --secondary-color:#fff;
}
html {
    transition: all 0.5s ease-in;
}
html.dark {
    --primary-color:#fff;
    --secondary-color:#333;
}
html.dark {
background-color:#111;
color:var(--primary-color);
}

h1{
    position:absolute;
    /* left:50%;*/
    transform:translateX(100%);
    animation: scroll-left 10s linear infinite;
    top:10%;
    text-align:center;
    font-size:40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:magenta;
    width:100%;

}
@keyframes scroll-left {
0% {transform: translateX(100%); }
100% {transform: translateX(-100%); }
}
h2{
    position:absolute;
    left:50%;
    top:5%;
    animation:blinkingText 1.2s infinite;
    transform:translate(-50%,-50%);
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}
h4{
    font-size:20px;
    margin:5px;
    text-transform:uppercase;
}
.toggle {
    position:absolute;
    transform:translate(-50%,-50%);
    left:50%;
    top:2%;
    cursor: pointer;
    background-color:var(--primary-color);
    color:var(--secondary-color);
    border:0;
    border-radius:4px;
    padding:8px 12px;
    position:absolute;
    
}
.toggle:focus{
    outline:none;
}

.clock-container {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    position:absolute;
    top:40%;
    left:50%;
    transform:translate(-50%,-50%);
}
.clock{
    position:relative;
    width:200px;
    height:200px;
}
.needle{
    background-color:var(--primary-color);
    position:absolute;
    top:50%;
    left:50%;
    height:65px;
    width:3px;
    transform-origin:bottom center;
    transition:all 0.5s ease-in;
}
.needle.hour{
    transform:translate(-50%,-100%) rotate(0deg);
}
.needle.minute{
    transform:translate(-50%,-100%) rotate(0deg);
    height:100px;
}
.needle.second{
    transform:translate(-50%,-100%) rotate(0deg);
    height:100px;
    background-color:#e74c3c;
}
.center-point{
    background-color:#e74c3c;
    width:10px;
    height:10px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:50%;
}
.center-point::after{
    content:'';
    background-color:var(--primary-color);
    width:5px;
    height:5px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border-radius:50%;
}
.time{
    font-size:60px;
    color:#aaa;
    letter-spacing:0.3px;
    text-transform:uppercase;
}
.date .circle{
    background-color:var(--primary-color);
    color:var(--secondary-color);
    border-radius:50%;
    height:18px;
    width:18px;
    display:inline-flex;
    align-items:center;
    justify-content:center;
    line-height:18px;
    transition:all 0.5s ease-in;
    font-size:12px;
}

.firstButton {
    background-color:var(--secondary-color);
    letter-spacing:3px;
    border:none;
    color:white;
    border-radius:50%;
    height:250px;
    width:250px;
}

/* Button Two Cred to https://codepen.io/antonioescudero/pen/zrxGve */
.secondPage{
    background:url('https://images.unsplash.com/photo-1514964420691-1eb9a8232581?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
#clouds{
	padding: 100px 0;
	/* background: #c9dbe9; */
	background:linear-gradient(top, #c9dbe9 0%, #fff 100%);

}
.cloud,
.buttonTwo {
    position: relative; 
	width: 200px; height: 60px;
	background: #fff;
	border-radius: 200px;
}
.cloud:before, .cloud:after,
.buttonTwo:before, .buttonTwo:after {
	content: '';
	position: absolute; 
	background: #fff;
	width: 100px; height: 80px;
	position: absolute; top: -15px; left: 10px;
	border-radius: 100px;
	transform: rotate(30deg);
}
.cloud:after,
.buttonTwo:after {
    width: 120px; 
    height: 120px;
    top: -55px; 
    left: auto; 
    right: 15px;
}
.nr1 {
    animation: moveclouds 15s linear infinite;
}
.nr2 {
	left: 200px;
	transform: scale(0.6);
	opacity: 0.6; 
	animation: moveclouds 25s linear infinite;
}
.nr3 {
    left:-250px;
    top:-200px;
	transform: scale(0.8);
	opacity: 0.8; 
	animation: moveclouds 20s linear infinite;
}
.nr4 {
    left: 470px; 
    top: -250px;
	transform: scale(0.75);
	opacity: 0.75; 
	animation: moveclouds 18s linear infinite;
}
.nr5 {
	left: -150px; top: -150px;
	transform: scale(0.8);
	opacity: 0.8;
	animation: moveclouds 20s linear infinite;
}


.buttonTwo,
.buttonTwo:before,
.buttonTwo:after{
    background-color:rgb(241, 217, 231);
    border-radius:50%;
    border:none;
    color:white;
    position:absolute;
}
.buttonTwo{
    left: -150px; top:250px;
	transform: scale(0.6);
	opacity: 0.8;
    animation: moveclouds 19s linear infinite;
    outline:none;
}
@keyframes moveclouds {
	0% {margin-left: 1000px;}
	100% {margin-left: -1000px;}
}
.counter {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
}
.counter.hide{
    transform:translate(-50%,-50%) scale(0);
    animation:hide .2s ease ease-out;
}
@keyframes hide {
0% {
    transform:translate(-50%,-50%) scale(1);
}
100%{
    transform:translate(-50%,-50%) scale (0);
}
}
.final{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%) scale(0);
    text-align:center;
}
.final.show{
        transform:translate(-50%,-50%) scale(1);
    animation:show .2s ease ease-out;
}
@keyframes show {
0% {
    transform:translate(-50%,-50%) scale(0);
}
30%{
     transform:translate(-50%,-50%) scale(1.4);
}
100%{
    transform:translate(-50%,-50%) scale(1);
}
}
.nums{
    color:#3498db;
    font-size:50px;
    position:relative;
    overflow:hidden;
    width:250px;
    height:50px;
}
.nums span{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) rotate(120deg);
    transform-origin:bottom center;
}
.nums span.in{
    transform:translate(-50%,-50%) rotate(0deg);
    animation:goIn 0.5s ease-in-out;
}
.nums span.out{
    animation:goOut 0.5s ease-in-out;
}
@keyframes goIn {
0% {
    transform:translate(-50%,-50%) rotate(120deg);
}
30%{
     transform:translate(-50%,-50%) rotate(-20deg);
}
60%{
    transform:translate(-50%,-50%) rotate(10deg);
}
100%{
    transform:translate(-50%,-50%) rotate(0deg);
}
}
@keyframes goOut {
0% {
    transform:translate(-50%,-50%) rotate(0deg);
}
60%{
    transform:translate(-50%,-50%) rotate(20deg);
}
100%{
    transform:translate(-50%,-50%) rotate(-120deg);
}
}

/* PageThree */
.pageThree{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    min-height:100vh;
    background:#000;
    overflow:hidden;
}
.sectionGlowing{
    display:flex;
    margin:0px 100px;
    margin-left:500px;
}
.glowing
{
    position:relative;
    width:670px;
    height:670px;
}
.thirdButton
{
    cursor:pointer;
    height:100px;
    width:250px;
    background-color:black;
    border:none;
    margin-top:250px;
}
.glowing span
{
    position:absolute;
    top:calc(80px * var(--i));
    left:calc(80px * var(--i));
    bottom:calc(80px * var(--i));
    right:calc(80px * var(--i));
}
.glowing span:before,
.thirdButton:before{
    content:'';
    position:absolute;
    top:50%;
    left:-8px;
    width:15px;
    height:15px;
    background:#f00;
    border-radius:50%;

}
/* 3n +  */
.glowing span:nth-child(3n + 1):before{
background:rgba(134,255,0,1);
box-shadow:
            0 0 20px rgba(134,255,0,1),
            0 0 40px rgba(134,255,0,1),
            0 0 60px rgba(134,255,0,1),
            0 0 80px rgba(134,255,0,1),
            0 0 0 8px rgba(134,255,0,.1);
}
/* 3n + 1 */
.glowing span:nth-child(3n + 2):before{
background:rgba(255,214,0,1);
box-shadow:
            0 0 20px rgba(255,214,0,1),
            0 0 40px rgba(255,214,0,1),
            0 0 60px rgba(255,214,0,1),
            0 0 80px rgba(255,214,0,1),
            0 0 0 8px rgba(255,214,0,.1);
}
.glowing span:nth-child(3n + 3):before,
.thirdButton:before{
background:rgba(0,226,255,1);
box-shadow:
            0 0 20px rgba(0,226,255,1),
            0 0 40px rgba(0,226,255,1),
            0 0 60px rgba(0,226,255,1),
            0 0 80px rgba(0,226,255,1),
            0 0 0 8px rgba(0,226,255,.1);
}
.glowing span:nth-child(3n + 1){
animation: animate 10s alternate infinite;
}
@keyframes animate
{
    0%
    {
    transform:rotate(0deg);
    }
    100%
    {
        transform:rotate(360deg);
    }

}
.glowing span:nth-child(3n + 2){
animation: animate-reverse 3s alternate infinite;
}
@keyframes animate-reverse
{
    0%
    {
    transform:rotate(360deg);
    }
    100%
    {
        transform:rotate(0deg);
    }

}
.glowing span:nth-child(3n + 3){
animation: animate-reverse 8s alternate infinite;
}
.thirdButton{
animation: animate-button 2s alternate infinite;
}

@keyframes animate-button{
    0%{
        transform:rotate(360deg);
    }
    100%{
        transform:rotate(0deg);
    }
}

/* Page 4 */
.bodyFour{
    background-color:#111;
    display:flex;
    align-items:center;
    justify-content: center;
    height:100vh;
    overflow:hidden;
    margin:0;
}
.container{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap:wrap;
}
.square {
    background-color:#1d1d1d;
    box-shadow:0 0 2px #000;
    height:16px;
    width:16px;
    margin:2px;transition:2s ease;
}
.square:hover {
    transition-duration:0s;
}
.buttonFour {
    background-color:#1d1d1d;
    box-shadow:0 0 2px #000;
    height:16px;
    width:16px;
    margin:2px;transition:2s ease;
}
.buttonFour:hover {
    transition-duration:0s;
}
.buttonFour:focus{
    outline:none;
}

.endOfGame{
 background-color:pink;
}

